.flex{
    display: flex;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.align-center{
    display: flex;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-direction-C{
    flex-direction: column;
}

.mainColor{
    color: #ff5200;
}