:root {
    --home-orange-1: #ff5200;
}

.homeHeaderCont {
    background-color: var(--home-orange-1);
    padding: 35px 150px;
    justify-content: space-between;
}

.homeLogo-white img {
    height: 3rem;
    width: 10rem;
    border-style: none;
}

.homeNavButtons {
    gap: 30px;
}

.homeNavButtons li a {
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: 700;
    font-size: 0.9rem;
}

.homeNavButtons li:nth-child(3) {
    border: 1px solid white;
    padding: 13px 18px;
    border-radius: 12px;
    cursor: pointer;
}

.gotoIcon {
    margin-left: 10px;
    transform: rotate(-45deg);
}

.homeNavButtons li:nth-child(4) {
    background-color: black;
    padding: 15px 35px;
    border-radius: 12px;
    cursor: pointer;
}

/* main landing interface designs */
.mainLandingInterfaceDiv {
    padding: 60px 0px 20px 0px;
    position: relative;
    background-color: var(--home-orange-1);
    width: 100%;
}

.landingHeading {
    line-height: 50px;
    font-size: 2.9rem;
    font-family: "poppins";
    font-weight: 600;
    text-align: center;
    width: 60%;
    color: white;
}

.locationAndRestaurantSearch {
    position: relative;
    width: 58%;
    gap: 7px;
    margin-top: 20px;
}

.locationSearch,
.restaurantSearch {
    position: relative;
    /* margin: 0px 30px; */
}

.locationSearch>input,
.restaurantSearch>input {
    font-family: "poppins";
    font-weight: 600;
    outline: none;
    padding: 15px 10px 15px 20px;
    border-radius: 12px;
    border: 1px solid #aaa;
    font-size: 0.88rem;
    caret-color: var(--home-orange-1);
    color: #6d6d6e;
    width: 100%;
}

.locationSearch>input {
    padding: 15px 40px 15px 40px;
}

.restaurantSearch>input {
    padding: 15px 10px 15px 20px;
}

.locationSearch {
    width: 85%;
}

.restaurantSearch {
    width: 130%;
}

.locationSearch>input::placeholder,
.restaurantSearch>input::placeholder {
    color: #aaa;
}

.orangeLocationSymbol,
.chevron-button,
.homeSearchIcon {
    position: absolute;
}

.orangeLocationSymbol {
    left: 10px;
}

.chevron-button{
    background-color: transparent;
    border: none;
    outline: none;
    height: 25px;
    width: 30px;
    right: 12px;
    cursor: pointer;
    bottom: 12px;
    transform: rotate(180deg);
    transition: transform 0.2s linear;

}
.chev-up{
    transform: rotate(0);
    bottom: 15px;
    transition: transform 0.3s linear;
}

.homeSearchIcon {
    right: 15px;
}

/* location dropdown positioning and designs */
.locationDropDown{
    position: absolute;
    right: 0;
    top: 70px;
    border-radius: 10px;
    background-color: white;
    z-index: 5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 20px 30px;
    transform: translateY(-20px);
    max-height: 400px;
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
    transform-origin: top;

}
.locationSuggestionsList li{
    gap: 10px;
}
.locationSuggestionsList li a{
    color: #0000008c;
    transition: all 0.4s;
}
.locationSuggestionsList li p{
    font-family: "poppins";
    font-size: 1.125rem;
    overflow: hidden;
    color: #0000008c;
    white-space: normal;
    text-wrap: nowrap;
    width: 95%;
    font-weight: 600;
    text-overflow: ellipsis;
    margin: 5px 0px;
}
.locationSuggestionsList li a:hover{
    color: var(--home-orange-1);
}
.locationDropDown-opened{
    height: fit-content;
    transform: translateY(0px);
    opacity: 1;
}
.locationDropDown header{
    gap: 20px;
}
.locationDropDown header button{
    font-family: "poppins";
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 1.0rem;
    color: var(--home-orange-1);
    cursor: pointer;
}
.locationDropDown main{
    display: block;  /* trigger display block after clicking (Use my current location) / when user tries to search a location */
    position: relative;
    margin: 30px 0px 0px 0px;
    padding: 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.locationDropDown main::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.locationDropDown main::-webkit-scrollbar{
    width: 4px;
    background-color: white;
    border-radius: 90px;
}
.locationDropDown main::-webkit-scrollbar-thumb{
    width: 4px;
    border-radius: 90px;
    background-color: rgba(0, 0, 0, 0.7);
}
.locationDropDown main header{
    font-family: "poppins";
    font-size: 1.19rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;

}
/* positions and resizing redirecting cards */
.redirectingCardImageContainer {
    margin: 25px 0px 0px 0px;
}

.redirectingCardImageContainer a img {
    object-fit: contain;
    height: 19rem;

}

/* positioning side decorative images */
.veggiesImage,
.sushiesImage {
    position: absolute;
    object-fit: contain;
    height: 29rem;
    top: -30px;
}

.veggiesImage {
    left: 0px;
}

.sushiesImage {
    right: 0px;
}

/* food items display container designs */
.foodItemsDisplay {
    padding: 90px 0px 0px 0px;
    width: 100%;
}

.foodItemsDiv {
    width: 80%;
}

.foodItemsDiv header {
    justify-content: space-between;
    font-family: "poppins";
    font-weight: 700;
    font-size: 1.4rem;
}

.right-left-navigation {
    gap: 10px;
}

.arrow-left,
.arrow-right {
    border: none;
    outline: none;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(2, 6, 12, 0.15);
    cursor: pointer;
}

.arrow-left {
    transform: rotate(180deg);
}

.foodItemsDiv main {
    scroll-behavior: smooth;
    overflow: hidden hidden;
    margin-top: 20px;
    padding: 20px 20px 120px 20px;
    border-radius: 12px;
    gap: 90px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows: 90px 90px;
}

.foodItemsDiv main img {
    /* food item image sizing */
    object-fit: contain;
    height: 11rem;
}

/* grocery tiles display : STATUS  => pending */
.groceryDisplay {
    padding: 80px 0px 0px 0px;
    width: 100%;
}

.groceryDisplay header {
    width: 80%;
    justify-content: space-between;
}

.groceryDisplay header p {
    font-family: "poppins";
    font-size: 1.4rem;
    font-weight: 700;
}

.groceryDisplay main {
    scroll-behavior: smooth;
    overflow: hidden hidden;
    gap: 35px;
    width: 80%;
    padding: 30px 0px;
}

/* restaurant card display */
.restaurantDisplay {
    padding: 80px 0px 0px 0px;
    width: 100%;
}

.restaurantDisplay header {
    width: 80%;
    justify-content: space-between;
}

.restaurantDisplay header p {
    font-family: "poppins";
    font-size: 1.4rem;
    font-weight: 700;
}

.restaurantDisplay main {
    margin-top: 30px;
    gap: 20px;
    scroll-behavior: smooth;
    width: 80%;
    overflow: hidden;
}

.appDownloadImageDiv {
    margin-top: 120px;
    margin-bottom: 90px;
    width: 100%;
    height: fit-content;
}

.appDownloadImageDiv img {
    width: 100%;
    height: 100%;
}

.foodDeliveryCities,
.groceryDeliveryCities {
    width: 100%;
    margin-top: 40px;
}

.foodDeliveryCitiesDiv,
.groceryDeliveryCitiesDiv {
    margin: 10px 0px;
    width: 60%;
}

.foodDeliveryCitiesDiv header,
.groceryDeliveryCitiesDiv header {
    font-weight: 800;
    font-size: 1.5rem;
    font-family: "poppins";
}

.foodDeliveryCitiesDiv main,
.groceryDeliveryCitiesDiv main {
    margin-top: 10px;
    flex-wrap: wrap;
    overflow: hidden hidden;
    gap: 16px;

}

.foodDeliveryCitiesDiv main a,
.groceryDeliveryCitiesDiv main a {
    text-align: center;
    color: rgba(2, 6, 12, 0.75);
    padding: 16px;
    font-family: "poppins";
    border: 1.5px solid rgba(2, 6, 12, 0.15);
    border-radius: 12px;
    height: auto;
    cursor: pointer;
    word-break: normal;
    font-weight: 700;
    width: 180px;
    font-size: 0.80rem;
}

/* Sidebar designs */
.homeContainer {
    position: relative;
}

.sidebarContainer {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: all 0.4s;
}

.sidebarBlackShade {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
}

.sidebarDiv {
    position: absolute;
    right: -475px;
    top: 0;
    opacity: 1.0;
    height: 100%;
    width: 475px;
    background-color: white;
    transition: all 0.4s;
}

.sidebarDiv header button {
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.sidebarDiv header button::before {
    content: "✕";
    font-size: 1.5rem;
    color: rgba(2, 6, 12, .8);
    background: none;
    border-radius: 90px;
    border: none;
}

.sidebarContainer.sidebarVisible .sidebarBlackShade {
    background-color: #02060c;
    opacity: 0.7;
    transition: all 0.4s;
}

.sidebarContainer.sidebarVisible .sidebarDiv {
    right: 0;
    transition: all 0.4s;
}